node_modules
npm-debug.log*
package-lock.json
.DS_Store
.env
.env.local
.idea
.vscode
coverage
.nyc_output
test-results
test/e2e-project/.tmp
test/e2e-project/db.sql
test/e2e-project/wp-*
test/e2e-project/*.php
test/e2e-project/*.html
test/e2e-project/*.txt
